*       text    eol=lf
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
release/build/Day[[:space:]]Replay-4.6.0.dmg filter=lfs diff=lfs merge=lfs -text
release/build/Day filter=lfs diff=lfs merge=lfs -text
Replay-4.6.0.dmg filter=lfs diff=lfs merge=lfs -text
release/build/Day[[:space:]]Replay-4.6.0-arm64.dmg filter=lfs diff=lfs merge=lfs -text
