<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline' https://apis.google.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' data: https://fonts.gstatic.com; img-src 'self' data: blob: https://*.googleusercontent.com; connect-src 'self' https://*.googleapis.com https://*.firebaseio.com https://*.firebase.com https://*.firebaseauth.com https://*.identitytoolkit.googleapis.com https://*.cloudfunctions.net https://*.gstatic.com http://localhost:8000; frame-src 'self' https://accounts.google.com https://*.firebaseapp.com;"
    />
    <title>Day Replay</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
